.step_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
}
.step_nav img{
    width: 30%;
}
.step_nav h3{
    align-self: center;
    font-size: 20px;
}
.step_sign{
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    font-size: 1.5rem;
}


/* Step-1.css */
.container{
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin-top: 2rem ;
}
.container p{
    margin-bottom: .5rem;
}
.step_form{
    margin-top: 1rem;
}
.step_email{
    font-weight: 500;
} 
.step_form input{
    background-color: white;
    border: transparent;
    border: 1px solid black;
    caret-color: black;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.welcome{
    font-size: 2rem;
    font-weight: 700;
}
.blue{
    color: blue;
}


/* step 2.css  */
.right_logo{
    justify-self: center;
    width: 12%;
    margin: 0 auto;
    margin-top:84px;
    margin-bottom: 20px;
}
.step_2 p{
    text-align: center;
}
.plan_lists{
    max-width: 300px;
    margin: 1rem auto;
    font-size: 1.1rem;
}
.plan_list{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
#checkicon{
    color: red;
}
.next_button{
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 8rem;
}
.next_button .btn{
    width: 100%;
    padding: 1rem;
}

/* step_3.css  */
.Step_two_second{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 1rem auto;
}
.Step_two_second .container .next_button{
    margin-bottom: 1rem;
}
.Step_two_second .container{
    margin: 0;
}
.Step_two_second .container .step_2 p{
    text-align: start;
}
.Step_two_second .container .plan_lists{
    margin: 0;
}
.Step_two_second .container{
   max-width: 100%;
}
.Step_two_second .container .plan_lists .plan_list{
    margin-bottom: .3rem;
}

.price_chart{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin-bottom: 2rem;
    /* margin: 2rem auto; */
}

.price_chart .red{
    width: 100%;
    position: sticky;
    top: 0;
}
.price_chart .red_boxs{
    float: right;
    display: flex;
    gap: 1rem;
    width: 65%;

}

.red_boxs .red_box{
    background-color: rgba(243, 58, 58, 0.825);
    color: #fff;
    flex: 1 1 0;
    width: 0;
    text-align: center;
    padding: 1.8rem 0rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.red_boxs .marked{
    background-color: red;
}



th{
    width: 30%;
}
td{
    text-align: center;
}


/* Error Handling.css  */
.message_handling{
    width: 100%;
    background-color:rgb(251, 164, 4) ;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
    
}
.message_handling .messages{
    margin: 0;
    padding-left: .5rem;
}
.message_handling .messages a {
    text-decoration: underline;
    color: black;
}


@media screen and (max-width:580px) {
    th{
        display: none;
        width: 0;
    }
}
@media screen and (min-width:580px) {
    .step_nav img{
            width: 22%;
    }
}