.navbar{
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
    padding: 5px 2vw;
    background-color: #111;
}
.left_navbar{
    display: flex;
   
}
.left_navbar h4{
    font-weight: 300;
    align-self: center;
    margin-left: 1.3rem;
    font-size: 1.4rem;
}
.nav_logo{
    width: 130px;
    object-fit: contain;
}
.right button{
    color: #fff;
    border-radius: 0.2vw;
    padding: 0.3rem 1.5rem;
    margin-right: 1rem;
}
.join{
    background-color: #e50914;
    background-image: linear-gradient(180deg,#e50914,#db0510);
}
.sign{
    outline: 1px solid #fff;
}
