.Row_container{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #111;
    position: relative;
    overflow: hidden;
}
.row_posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: max-content;
    padding: 20px;
    transform: translateX(0px);
    transition: all 1s ease;
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{
    width: 100%;
    object-fit: cover;
    max-height: 180px;
   
}
.listItem{
    font-size: .5rem;
    width: 160px;
    height: 180px;
    overflow: hidden;
    margin-left: 15px;
    transition: all .5s;
    cursor: pointer;
}
.listItem img{
    width: 100%;
    height: 100%;
}
.listItem:hover{
    width: 250px;
    height: 250px;
}


.row_poster_large{
    max-height: 260px;
}
.slidearrow{
    width: 50px;
    height: 100%;
    background-color: rgb(22, 22, 22,0.5);
    color: white;
    position: absolute;
}
 .row_posters  .left{
    position: absolute;
    left: 0;
    cursor: pointer;
}
.row_posters > .right{
    position: absolute;
    right: 0;
    font-size: 4rem;
    cursor: pointer;
}

/* video  */
.youtube_video{
    width: 100%;
    object-fit: cover;
    max-height: 340px;
    margin: 1rem 5rem;
}